/* Global Overrides */
@font-face {
  font-family: pangea;
  src: url(https://assets.reastatic.net/common/pangea-variable.woff2);
}

html, body {
  height: 100%;
}


body, .page {
  background-image: url(https://www.realestate.com.au/blog/images/1707x1280-fit,progressive/2020/08/25171126/Bangalow-home.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  overflow: hidden;
}


a {
  color: #0078BD;
  text-decoration: none;
}

a:hover {
  color: #0078BD;
  text-decoration:underline;
}

/* Main look and feel */

.card {
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

.main-logo {
  margin-top: 40px;
  max-width: 350px;
  
}

.rea-h1 {
  font-weight: 600;
}

.form-signin input[type="email"] {
  margin-bottom: 20px;
}

.form-signin {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
}

/* Buttons */

.ping-button-parent {
  position: relative;
}

button.ping-button {
  background-color: rgb(228, 0, 42);
  border: none;
  color: white;
  margin-bottom: 20px;
  font-size: 1.25em;
}

button.ping-button:hover {
  background-color: #AD1A32;
}

button.accept-button {
  background-color: limegreen;
  border: none;
  color: white;
  margin-bottom: 20px;
  font-size: 1.25em;
}

button.accept-button:hover {
  background-color: green;
}

.ping-button-icon {
  position: absolute;
  left: 10px;
}

button.google-button {
  background-color: white;
  border-color: rgb(196, 196, 196);
  color: #3d3a40;
  margin-bottom: 15px;
  font-size: 1.25em;
}

button.google-button:hover {
  background-color: rgb(249, 249 ,249);
}

button.facebook-button {
  background-color: rgb(24, 119, 242);
  border-color: rgb(24, 119, 242);
  color: white;
  margin-bottom: 15px;
  font-size: 1.25em;
}

button.facebook-button:hover {
  background-color: rgb(24, 89, 242);
  color: white
}

button.apple-button {
  background-color: rgb(24, 24, 24);
  border-color: rgb(24, 24, 24);
  color: white;
  margin-bottom: 25px;
  font-size: 1.25em;
}

button.apple-button:hover {
  background-color: rgb(34, 34, 34);
  color: white;
}
